################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FxElsaClient/FileContentIndex/6f4aee5e-c1a8-4a1a-ab2c-9147cda79f8c.vsidx
/.vs/FxElsaClient123/FileContentIndex/63a2b54b-4303-40a9-bf3a-8f655be8574e.vsidx
/.vs/FxElsaClient/FileContentIndex/08cef243-f550-498f-b8ef-1deda5e4f642.vsidx
